@media (max-width: 390px) {

    /* body {
        display: grid;
        grid-template-rows: repeat(6, auto);
        gap: 40px;
    }*/


    .content {
        @apply flex pt-[48px] pl-[16px] pr-[16px];
    }

    .heroTitle {
        display: none;
    }

    .content .mobHeroTitle {
        @apply flex flex-col text-[#163A34] text-[32px] 
        h-[114px] pl-[16px] pr-[16px] pb-[50px];
        font-weight: 800;
  border: 1px solid red;

        & .spanText {
            display: inline-block;
            padding: 0 4px;
            background: linear-gradient(to top, rgba(254, 159, 107, 0.3) 40%, transparent 40%);
            border-radius: 5px;
        }
    }

    .content .heroSubtitle,
    .content .heroSubtitle3 {
        display: none;
    }

    .content .heroSubtitle2 {
        font-weight: 500;
        @apply block items-start text-[#395852] text-[18px] h-[90px] pl-[16px] pr-[16px];
     border: 1px solid red;
    }

    .exploring {
        @apply flex items-center h-[60px] text-[#fff] text-[20px] pt-[16px] pb-[16px] bg-[#163A34] rounded-[10px];
      border: 1px solid red;
    }

    .content .mainContent {
        @apply w-[100%] h-[230.48px] pt-[20px];
          border: 1px solid red;
    }

    .features {
        @apply flex flex-col pl-[16px] pr-[16px] pt-[50px];
        align-items: start;
        border: 1px solid black;
          border: 1px solid red;
    }

    .features .features-text {
        @apply text-[35px] text-[#163A34] pb-[10px];
        font-weight: 700;
        border: 1px solid greenyellow;
    }

    .icon-text {
        @apply flex flex-col gap-[15px] pt-[10px] text-[#163A34] pr-[0];
        border: 1px solid red;
    }

    .carrot .carrotIcon,
    .feature .featureIcon,
    .search .searchIcon {
        @apply w-[80px] h-[80px];
        border: 1px solid red;
    }

    .icon-text .carrot,
    .icon-text .feature,
    .icon-text .search {
        @apply flex items-center;
        align-items: start;
        border: 1px solid green;
    }

    .icon-text .icon-header {
        @apply text-[#163A34] h-[42px] text-[22px] w-[330px];
        border: 1px solid green;
    }

    .carrot .carrot-text,
    .feature .feature-text,
    .search .search-text {
        @apply flex flex-col text-[#395852] h-[60px] text-[18px] w-[330px];
        font-weight: 500;
        border: 1px solid green;
    }

    .carrot .tabCarrot-text,
    .feature .tabFeature-text,
    .search .tabSearch-text {
        display: none
    }

    .real .real-text,
    .real .tabtext {
        display: none;
    }

    .real {
        @apply flex flex-col items-center pl-[320px] pr-[32px];

        border: 1px solid red;
    }

    .real .mobtext {
        @apply flex flex-col gap-[20px] pb-[40px] w-[343px]  pl-[16px];
        align-items: start;
        border: 1px solid red;

    }

    .real .mobtext .mobreal-header {
        @apply h-[48px] text-[31px] pb-[70px] text-[#163A34];
        font-weight: 800;
        border: 1px solid red;
    }

    .real .mobtext .mobrealText2 {
        @apply flex flex-col text-[20px] text-[#395852];
        font-weight: 500;
        border: 1px solid red;

        & .spanText5 {
            font-weight: 800;
            @apply text-[20px];
        }
    }

    .real .mobtext .mobrealText3 {
        @apply flex flex-col text-[18px] text-[#395852];
        font-weight: 500;
        border: 1px solid red;
    }


    body .real .real-img {
        @apply w-[100%] h-[243px];
        border: 1px solid green;
    }
}