@media (max-width: 768px) {

    .heroSubtitle2,
    .heroSubtitle3 {
        display: none;
    }

    .content {
        @apply flex pl-[20px] pr-[20px];
        align-items: flex-start;
        border: 1px solid red;
    }

    .mobHeroTitle {
        display: none;
    }

    .heroTitle {
        @apply relative text-[#163A34] text-[55px] 
       h-[30px] pb-[50px];
        font-weight: bold;
    }

    .exploring {
        @apply text-[#fff] text-[25px] pt-[20px] pb-[20px] 
        pr-[25px] pl-[25px] bg-[#163A34] rounded-[10px];
    }

    .heroSubtitle,
    .content .heroSubtitle2 {
        display: none;
    }

    .heroSubtitle3 {
        @apply flex flex-col items-start text-[#395852] text-[20px] pb-[20px];
    }

    .mainContent {
        @apply w-[100%] h-[350px] pt-[20px];

    }

    .features {
        @apply flex flex-col pt-[50px] gap-[30px] pl-[20px] 
        pr-[20px];
         align-items: start;

    }

    .features-text {
        @apply text-[48px] text-[#395852] pl-[0];
        font-weight: bold;
    }

    .icon-text {
        @apply flex flex-col gap-[100px] 
        pt-[10px] pl-[0];
    }

    .carrot .carrotIcon,
    .feature .featureIcon,
    .search .searchIcon {
        @apply w-[60px] h-[60px] pb-[15px];

    }


    .carrot,
    .feature,
    .search {
        @apply flex flex-col pr-[20px];
    }

    .icon-header {
        @apply flex text-[#163A34] text-[32px] pb-[10px];
        font-weight: 700;
              border: 1px solid red;
    }

    .carrot-text,
    .feature-text,
    .search-text {
      display: none;
    }


     .tabCarrot-text,
    .tabFeature-text,
    .tabSearch-text {
      @apply flex  text-[#395852]  text-[20px] w-[700px];
      border: 1px solid red;
    }

    .real {
        @apply flex flex-col pt-[50px] gap-[30px] pl-[20px] 
        pr-[20px] border-t border-[#d4dbd7];
    }

    .tabtext {
        @apply flex flex-col gap-[10px] w-[704px];
    }

    .tabtext .tabReal-header {
        @apply text-[48px] text-[#163A34];
        font-weight: 750;
    }

    .tabtext .tabReal-text2,
    .tabtext .tabReal-text3 {
        @apply flex flex-col text-[20px] text-[#395852];
        font-weight: 500;
    }

    .tabReal-text2 span .spanText3 {

        display: inline-block;
        padding: 0 4px;
        background: linear-gradient(to top, rgba(254, 159, 107, 0.3) 40%, transparent 50%);
        border-radius: 5px;
    }

    .real-text,
    .mobtext {
        display: none;
    }


    .real .real-img {
        @apply w-[100%] h-[498px];
    }
}
    