@media (max-width: 390px) {


    .mission {
        @apply flex flex-col gap-[50px] 
        pt-[40px] pl-[16px] pr-[16px];
    }


    /* .mission2 .missionHeader, */
    /* .mission2 .tabMissionHeader, */
    .mission2,
    .missionTab,
   .exist .tabExist,
   .beyond .beyond3,
   .beyond .tabBeyond{
        display: none;
    }



    .mission h3 {
        @apply flex text-[20px] text-[#163A34] bg-[#FE9F6B] px-[10px] py-[10px] rounded-[6px];
        align-items: center;
        justify-content: center;
        font-weight: 700;
    }

    .missionMob {
        @apply flex flex-col;
    }

    .missionMob .missionMobHeader h1 {
        @apply flex flex-col text-[35px] text-[#163A34];
        font-weight: 900;
    }

    .missionMob .missionMob-text {
        @apply flex flex-col gap-[20px] pb-[30px];
    }

    .missionMob .missionMob-text1,
    .missionMob .missionMob-text2 {
        @apply flex flex-col text-[20px] text-[#395852];
        font-weight: 500;
    }

    .mission .mission-photo img {
        @apply w-[343px] h-[333px];
    }

     .exist .mobExist {
        @apply flex flex-col gap-[30px] pt-[50px] border-b border-[#d4dbd7] pl-[16px] pr-[16px];
    }

    .exist .mobExist-header {
        @apply text-[40px] text-[#163A34];
        font-weight: 900;
    }

    .exist .mobExist2 {
        @apply flex flex-col gap-[15px] text-[#395852] text-[20px];
    }

   .exist .mobExistHeader {
        @apply text-[48px] text-[#163A34];
        font-weight: 900;
    }

    .mobExistHead-text {
        @apply flex gap-[20px];
        line-height: 10px;
        align-items: center;
        justify-content: flex-start;
    }

    .moExistHead-text img {
        @apply w-[32px] h-[32px] text-[#163A34];
    }

    .mobExistHead-text1 {
        @apply flex text-[24px] text-[#163A34];
        font-weight: 800;
        align-items: end;
    }

 .mobExist-text2 {
        @apply flex flex-col pl-[55px] text-[20px] text-[#395852];
        font-weight: 500;
    }


    .mobPhilosophy {
        @apply flex flex-col gap-[30px] pt-[50px] border-b 
        border-[#d4dbd7] bg-[#fff] bg-[100%] pb-[40px] pl-[16px] pr-[16px];
    }

    .mobPhilosophy2 {
        @apply flex flex-col gap-[15px] text-[#395852] text-[20px];
    }


    .mobPhilosophyHeader {
        @apply flex flex-col text-[40px] text-[#163A34];
        font-weight: 900;
    }

    .mobPhilosophyHeadFlavor-text {
        @apply flex  text-[40px] text-[#163A34];
        align-items: flex-start;
    }

      .mobPhilosophyHead-text {
        @apply flex gap-[20px];
        line-height: 30px;
        align-items: center;
    }

    .mobPhilosophyHead-text img {
        @apply w-[32px] h-[32px] text-[#163A34];
    }

    .mobPhilosophyHead-text1 {
        @apply text-[24px] text-[#163A34];
        font-weight: 800;
        align-items: end;
    }

  /*  .mobPhilosophyHead-text1 span {
        @apply flex flex-col;
    }*/

    .mobPhilosophyHead-text2 {
        @apply flex flex-col pl-[55px] text-[20px] text-[#395852];
        font-weight: 500;
    }

    .beyond {
        display: block;
        @apply flex flex-col pt-[20px] pl-[16px] pr-[16px];
    }

    .beyond2{
        @apply flex flex-col pt-[10px];
    }

    .mobBeyond .beyond-header {
        @apply flex text-[40px] text-[#163A34] pb-[30px];
        font-weight: 900;
    }

   .beyond2 .mobBeyond{
    @apply flex flex-col;
    }

   .mobBeyond-text1 {
        @apply flex flex-col text-[20px] text-[#395852] pb-[20px];
        font-weight: 500;
    }


    .mobBeyond-text2 ul {
        @apply flex flex-col text-[20px] text-[#395852] gap-[20px] pl-[15px];
        font-weight: 500;
    }

    .mobBeyond-text2 ul li span {
        @apply flex flex-col;
    }

    .beyondPhoto {
        @apply flex;
        align-items: center;
        justify-content: center;
    }

    .beyond .beyondPhoto img {
        @apply w-[343px] h-[184px] pt-[50px];
    }







}