@reference "tailwindcss";

/* * { 
    outline: 1px solid red !important;
}*/

.header {
    @apply grid content-center grid-cols-[285px_40px] p-[16px] md:grid-cols-[664px_40px] md:px-[20px] md:py-[32px]
  lg:grid-cols-[22%_58%_20%] lg:px-[60px] lg:py-[20px] border-b border-[#d4dbd7] ;
 
}


.head-logo {
    @apply flex items-center gap-[8px];
}

.head-text {
    @apply text-[#163A34] text-[16px] md:text-[20px] xl:text-[20px] font-semibold;
}

.header-menu {
    @apply hidden lg:flex justify-self-center items-center lg:gap-[100px];
}

.header-menu ul {
    @apply flex gap-[100px] text-[#163A34];
}

.menu-link {
    @apply inline-block text-[#163A34] text-[18px] font-semibold font-[Nunito] leading-[150%];
    text-decoration: none;
}

.header-menu ul li .active {
    @apply text-[20px] text-[#163A34] font-semibold font-[Nunito] leading-[50%] ;
    text-decoration: underline #FE9F6B;
    text-underline-offset: 5px;
    border: none;
}

.header-menu ul li {
    @apply bg-transparent border-transparent outline-none
     inline-block;
    transition: transform 0.3s ease-in-out;
}

.button--primary {
    @apply inline-block flex items-center w-[100%];
}

.header-menu a:hover {
    text-underline-offset: 6px;
    transform: scale(1.05);
}

.mobMenu {
    @apply grid pt-[10px] lg:hidden;
}

.mobMenu .dropdown ul {
    @apply grid grid-rows-4 bg-[#fff] absolute left-[5]
     z-50 px-[8px] py-[12px] md:py-[8px] list-none rounded-[8px];
    top: 100%;
    border: none;
}

.mobMenu .dropdown ul li {
    @apply w-[327px] h-[51px] md:w-[688px];
}

.mobMenu button {
    @apply bg-[#E0E6E3] w-[18px] h-[16px];
}

.mobMenu .dropbtn {
    border: none;
    background: none;
}

.mobMenu .dropdown {
    @apply grid grid-rows-4 relative content-start right-[295px] text-[#293241] text-[18px] 
    font-semibold text-start font-[Nunito] leading-[150%] md:right-[670px];
    border: none;
}

.mobMenu .dropdown .button {
    @apply bg-[#163A34] grid text-[#fff] px-[8px] font-bold text-[20px] leading-[140%] rounded-[10px] border-none font-[Nunito] place-content-center h-[100%] pl-[0] w-[98%] md:w-[99%];
    text-decoration: none;

}

.mobMenu .dropdown ul li .active {
    text-decoration: underline #FE9F6B;
    text-underline-offset: 5px;
    border: none;

}

.mobMenu .menu-link .active::after {
    @apply bg-[#ff7a00] rounded-[2px];
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border: none;
}

.mobMenu .menu-link .active::after {
    transform: scaleX(1);
}

.mobMenu .menu-link {
    @apply grid gap-[25px];
    text-decoration: none;
}


.mobMenu .dropbtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}