@media (max-width:390px) {

    .header {
        @apply flex items-center  h-[72px] 
        border-b border-[#d4dbd7];

        align-items: center;
    }

    .header-menu,
    .browse-recipes {
        display: none;
    }

    .head-logo {
        @apply flex ;
        gap: 10px;
    }

    .header .head-text {
        @apply flex text-[#163A34] text-[17px] pt-[5px];
        font-weight: 600;
    }

    .groupLogo {
        @apply w-[25px] h-[30px];
    }

    .mobMenu {
    }

    .mobMenu ul {
        @apply flex gap-[10px] pt-[20px] 
        justify-start bg-[#fff] pr-[13px];
        list-style: none;
    }

    .mobMenu button img {
        @apply p-[10px] bg-[#E0E6E3];
    }

      .dropbtn{
        border: none;
        background: none;
      }


    .dropdown button {
        @apply bg-[#163A34] text-[#fff] 
        text-[18px] rounded-[5px] w-[300px] h-[52px];
        border: none;
    }

    .menu-link {
        @apply flex text-[#333];
        text-decoration: none;
        position: relative;
    }

    .menu-link.active {
        @apply text-[25px];
        text-decoration: underline #FE9F6B;
        border: none
    }

    .menu-link.active::after {
        @apply bg-[#ff7a00] rounded-[2px];
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        border: none;
    }

    .menu-link .active::after {
        transform: scaleX(1);
    }

    .dropdown {
        position: relative;
        border: none;
    }

    .dropdown .menu {
        @apply flex flex-col gap-[25px] absolute
         left-[5] right-[0] bg-[#fff] z-50 pl-[0] pr-[5px];
        top: 100%;
        border: none
    }


    .dropdown ul {
        @apply flex flex-col items-center 
        text-[#163A34] text-[20px] bg-transparent 
        w-[315px] h-[200px] rounded-[8px];
    }


    .dropdown ul li {
        @apply gap-[20px] w-[200px];
    }


    .dropdown ul li:hover {
        text-decoration: underline #FE9F6B;
        text-underline-offset: 6px;
        transform: scale(1.2);
    }

    .dropbtn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .header {
        position: relative;

    }

    .header-progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: linear-gradient(90deg, #4caf50, #81c784);
        animation: loading 1s linear infinite;
    }

.dropdown .mobBrowse {
        @apply bg-[#163A34] text-[#fff] text-[25px]
         rounded-[5px] w-[100%];
    }


}