 @reference "tailwindcss";

 footer {
     @apply relative inline-grid place-items-center pt-[50px] pr-[15px] pl-[15px]
     content-center ;
 }

 .cook {
     @apply grid grid-cols-3 rounded-[16px] text-center bg-[#c9cdcc] pt-[90px] pb-[100px] lg:w-[85.5%]
  }

 .cook-text {
     @apply grid w-[150%] pl-[30px] md:text-center md:pl-[200px]
      md:w-[150%] md:z-10 md:place-items-center lg:place-items-center  lg:pl-[300px] lg:w-[150%] ;     
   }


 .illustration1 {
     @apply absolute hidden  z-0 md:grid md:bottom-0  lg:grid lg:bottom-0;   
 }

 .illustration2 {
     @apply hidden md:grid md:absolute z-0 md:left-[62%] md:right-0 md:top-[7%] 
     lg:grid lg:absolute lg:left-[73%] lg:right-0 lg:top-[6%];    
 }


 .cook-header {
     @apply font-[Nunito]  text-center font-extrabold leading-[120%] w-[150%] text-[#163A34] text-[40px] content-center 
     pb-[30px] pl-[10px] md:text-[48px] lg:pl-[0] lg:text-[48px] lg:w-[160%];
    }

 .cook-text2 {
     @apply font-[Nunito] text-center content-center font-medium text-[#163A34] pl-0 w-[160%]
      md:z-10 text-[20px] leading-[150%] md:pr-[40px] md:pl-[40px] lg:pl-0 lg:w-[160%];
 }

 .recipe-button .button {
     @apply grid text-[18px] font-bold font-[Nunito] px-[24px] py-[16px] rounded-[10px] no-underline;
 }

 .recipe-button {
     @apply grid  w-[100%] pl-[50px] md:pl-[20px] content-center md:place-items-center 
     lg:place-items-center lg:pl-[0] pt-[50px];
 }




 